# Config for {{ item.hostname }}
hostname {{ item.hostname|upper }}

# loopback config
interface loopback0
 ip address {{ item.lb0_ip }} {{ item.lb0_mask }}

# OOB management config
interface mgmt0
 ip address {{ item.mgmt_ip }} {{ item.mgmt_mask }}

# Uplink config
{% for uplink in item.uplinks %}
interface {{ uplink.uplink_port }}
 description {{ uplink.uplink_spine_switch|upper }} port {{ uplink.uplink_spine_port }}
 no switchport
 ip address {{ uplink.uplink_ip }} {{ uplink.uplink_mask }}
{% endfor %}

# vlan config
{% for vlan in item.vlans %}
vlan {{ vlan.vlan_number }}
 name {{ vlan_vlan_name }}
{% endfor %}

# SVI config
{% for item in item.vlans %}
interface vlan {{ item.number }} 
 ip address {{ item.vlan_ip }} {{ item.vlan_mask }}
 description SVI for {{ item.vlan_name }}
{% endfor %}

# OSPF Config
ospf 1
 passive-interface default
 router-id {{ item.lb0_ip }}
 {{% for uplink in item.uplinks %}}
 no passive-interface {{ uplink.uplink_port }}
 {{% endfor %}}
 {{% for ip in item.vlans %}}
 network {{ ip.vlan_ip }} 255.255.255.255
 {{% endfor %}}

# NTP Config
ntp logging
ntp source mgmt0
ntp authentication-key 1991 md5 iamanntppassword4sure!
ntp trusted-key 1991
ntp authenticate
{{% for server in location[item.location].ntp_servers %}}
ntp server {{ server }} key 1991
{{% endfor %}}

# SNMP Info Config
snmp-server location {{ item.location }}
snmp-server contact {{ item.contact }}
snmp-server ifindex persist
snmp-server chassis-id {{ item.asset_tag }}

{% for server in location[item.location].syslog_servers%}
logging host {{ server }}
{% endfor %}
